<a href="https://colab.research.google.com/github/siriwat-heart/data_viz_2022/blob/main/FinalExam_DataViz.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Final Exam 
## กลุ่ม alphabetical

1.นางสาวมินตรา ทิพยรัตน์สุนทร  623020041-2

2.นายศิริวัฒน์ ภูลำสัตย์ 623020765-0

3.นางสาวนริศรา ชัยฤทธิ์ 623021001-9

# 1.Load data

In [540]:
import pandas as pd

In [541]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

## Data 1 alldb

In [542]:
data1= pd.read_csv('/content/drive/MyDrive/Final Exam/alldb.csv')  # สร้างตัวแปร รับค่าข้อมูลที่อยู่ใน Google drive
data1 # แสดงข้อมูล

,Unnamed: 0,user,RowKey,care,date,ov,phone,site,time,urine,pid,PartitionKey,title,age
0,0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,NaN,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,NaN,data is not completed,data is not completed
2,2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,NaN,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
4,4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,NaN,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
40030,40030,NaN,6B5FA20F-190E-4021-8547-C12308024C6C,NaN,NaN,NaN,"iPhone13,4",01234,NaN,NaN,5,เกษศิรินทร์ ไชยลาภ,data is not completed,data is not completed
40031,40031,NaN,F48C51C0-A345-40D6-93F4-46213267E1B1,NaN,NaN,2,"iPhone10,5",01234,NaN,ปกติ (เหลืองใส),5,เถลิงเกียรติ เสริฐเลิศ,data is not completed,data is not completed
40032,40032,NaN,A986BDAA-6D7C-4017-8E62-A3C104E946B9,NaN,NaN,1,"iPhone13,4",01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed
40033,40033,NaN,bbuogxulur.png,NaN,NaN,NaN,Samsung SM-A115F,01234,NaN,NaN,1,เสรี,data is not completed,data is not completed
40034,40034,NaN,zttpqogiso.png,NaN,NaN,1,Samsung SM-A115F,01234,NaN,ปกติ (เหลืองใส),1,เสรี,data is not completed,data is not completed

In [543]:
data1 = data1.drop(columns=['Unnamed: 0','care','pid'])     # ทำการลบคอลัมน์ที่ไม่ต้องการออกไป
print(data1.shape)
data1.head()

(40035, 11)

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
0,test,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
2,NaN,1E6D3D62-4C8A-4F8E-90D1-0DC5BC2752DF.png,NaN,NaN,NaN,NaN,NaN,NaN,NaN,data is not completed,data is not completed
3,3450101576642,2D331FB0-CBA2-4586-A5B0-CB3CF44DD9FE,2022-02-23,0,"iPhone13,4",05087,09:59:47,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed
4,3450101576642,45197AF7-7CB4-470C-9ABB-37C092BD6B21,2022-02-23,NaN,"iPhone13,4",05087,09:44:06,ปกติ (เหลืองใส),NaN,data is not completed,data is not completed

In [544]:
data1.isnull().sum()

user            762
RowKey            1
date            554
ov              364
phone             3
site             99
time            557
urine           253
PartitionKey    185
title           444
age             542
dtype: int64

# user

## user เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [545]:
data1 = data1[(data1['user'].astype(str).str.isdigit()) & (data1['user'].str.len() == 5)]      # จากนั้นเลือกมาเฉพาะ คอลัมน์ user ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
data1 # แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx,NaN,NaN

In [546]:
data1.isnull().sum()      # ดูค่าว่าง

user              0
RowKey            0
date            302
ov              221
phone             0
site              2
time            303
urine           126
PartitionKey     25
title           413
age             511
dtype: int64

# RowKey

## RowKey เป็น String

In [547]:
data1['RowKey']=data1['RowKey'].astype('string') # โดยการเปลี่ยน dtype เป็น  String
data1 ## แสดงตาราง

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaN,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx,NaN,NaN

In [548]:
print(data1.dtypes)  # จึงพบว่า RowKey เป็น String

user            object
RowKey          string
date            object
ov              object
phone           object
site            object
time            object
urine           object
PartitionKey    object
title           object
age             object
dtype: object

# date

## date เป็น YYYY-MM-DD

In [549]:
data1['date'] = pd.to_datetime(data1 ['date'],format='%Y/%m/%d')  #เปลี่ยนรูปแบบของเเละจัดชนิดของข้อมูล(วันเดือนปี)
data1 ## แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN
40017,12345,zgvicawbkg.png,NaT,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx,NaN,NaN

In [550]:
data1['date'] = data1[['date']].fillna(method="ffill")  # เติมค่าว่างของวันที่ด้วย ค่าก่อนหน้า
data1

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN
40017,12345,zgvicawbkg.png,2022-03-10,2,Samsung SM-G998B,xxxxx,NaN,ปกติ (เหลืองใส),xxxxx,NaN,NaN

In [551]:
data1.isnull().sum()

user              0
RowKey            0
date              0
ov              221
phone             0
site              2
time            303
urine           126
PartitionKey     25
title           413
age             511
dtype: int64

# site

## site เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [552]:
data1 = data1[(data1['site'].astype(str).str.isdigit()) & (data1['site'].str.len() == 5)]  # เลือกมาเฉพาะ คอลัมน์ site ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
data1  # แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [553]:
data1.isnull().sum()   # ดูค่าว่าง

user              0
RowKey            0
date              0
ov              219
phone             0
site              0
time            301
urine           124
PartitionKey     20
title           409
age             507
dtype: int64

# time

## time เป็น hh-mm-ss

In [554]:
data1['time'] = pd.to_datetime(data1['time'],format='%H:%M%:%S',errors='ignore')  # เปลี่ยนชนิดข้อมูลและจัดรูปแบบข้อมูล(วินาที นาที ชั่วโมง)
data1 # แสดงตาราง

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [555]:
data1['time'] = data1[['time']].fillna(method="ffill")      # เติมค่าว่างของเวลาด้วย ค่าก่อนหน้า
data1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [556]:
data1.isnull().sum()   # ดูค่าว่าง

user              0
RowKey            0
date              0
ov              219
phone             0
site              0
time              0
urine           124
PartitionKey     20
title           409
age             507
dtype: int64

# urine

## urine มีค่า String

In [557]:
data1['urine'] = data1[['urine']].fillna(method="ffill")      # เติมค่าว่างของ urine ด้วย ค่าก่อนหน้า
data1

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [558]:
data1.isnull().sum()   # ดูค่าว่าง

user              0
RowKey            0
date              0
ov              219
phone             0
site              0
time              0
urine             6
PartitionKey     20
title           409
age             507
dtype: int64

# ov

## ov เป็นตัวเลข มีค่าตั้งแต่ 0-4 (0 คือไม่พบโรค 1-4 คือพบโรคที่ระดับความรุนแรงต่างๆ)

In [559]:
set(data1['ov'])  #เรียกดูset ของov

{'0', '1', '2', '3', '4', nan, 'ติดเชื้อ +2 '}

In [560]:
data1 =data1[data1['ov']!='ติดเชื้อ +2 ']   #ไม่เอา 'ติดเชื้อ +2 '
data1   # แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,NaN,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,NaN,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,NaN,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,NaN,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,NaN,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [561]:
data1[['ov']] = data1[['ov']].fillna('ไม่ระบุ')  # เติมค่าว่างของovด้วย ค่าก่อนหน้า
data1 # แสดงตาราง

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
1,04857,136FD222-FD9F-4E54-AE1F-7282A276B085,2022-02-24,ไม่ระบุ,"iPhone10,4",05310,10:50:32,NaN,NaN,data is not completed,data is not completed
5,08777,472EED3E-E2A7-4551-9249-D87747C68AFD,2022-02-25,ไม่ระบุ,"iPhone13,2",05248,10:14:46,NaN,NaN,data is not completed,data is not completed
7,04857,73E96EE6-7660-4204-9914-92112603C514,2022-02-24,ไม่ระบุ,"iPhone10,4",05310,11:14:21,NaN,NaN,data is not completed,data is not completed
11,08777,C23A546B-EB6E-4DB4-93FA-2F9A7A85AEE9,2022-02-25,ไม่ระบุ,"iPhone13,2",05248,10:14:32,NaN,NaN,data is not completed,data is not completed
12,11111,C42C6F97-4388-4C03-A0AB-84F21FAED2C2,2022-02-27,ไม่ระบุ,"iPhone13,3",22222,17:39:35,NaN,NaN,data is not completed,data is not completed
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [562]:
data1.isnull().sum()   # ดูค่าว่าง

user              0
RowKey            0
date              0
ov                0
phone             0
site              0
time              0
urine             6
PartitionKey     20
title           409
age             507
dtype: int64

# PartitionKey

## PartitionKey เป็นตัวเลข 5 หลัก (ตัวเลขเท่านั้น)

In [563]:
data1 = data1[(data1['PartitionKey'].astype(str).str.isdigit()) & (data1['PartitionKey'].str.len() == 5)]      # เลือกมาเฉพาะ คอลัมน์ PartitionKey ที่เป็นตัวเลข & มีตัวเลข เท่ากับ 5 ตัว
data1 # แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,NaN,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,นางสาว,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,นาง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,นาง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,นาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,NaN,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,NaN,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,NaN,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,NaN,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,NaN,NaN

In [564]:
data1.isnull().sum()   # ดูค่าว่าง

user              0
RowKey            0
date              0
ov                0
phone             0
site              0
time              0
urine             0
PartitionKey      0
title           407
age             505
dtype: int64

In [565]:
data1.isnull().any() # ตรวจสอบหาค่า missing

user            False
RowKey          False
date            False
ov              False
phone           False
site            False
time            False
urine           False
PartitionKey    False
title            True
age              True
dtype: bool

# title

##title (sex)

In [566]:
data1['title']

190         NaN
191      นางสาว
192         นาง
193         นาง
194         นาย
          ...
39812       NaN
39813       NaN
39814       NaN
39815       NaN
39816       NaN
Name: title, Length: 38381, dtype: object

In [567]:
set(data1['title'])   # ดู set ของข้อมูล

{'  นาง',
 ' นาง',
 ' นางสาว',
 ' นาย',
 'Mrs',
 nan,
 'ชาย',
 'ด.ช.',
 'ด.ญ.',
 'ด.ต.',
 'น',
 'น.ส',
 'น.ส ',
 'น.ส.',
 'นส',
 'นส.',
 'นส. ',
 'นาง',
 'นาง ',
 'นาง.',
 'นางl',
 'นางสาว',
 'นางสาว ',
 'นางสาว                   ',
 'นาน',
 'นาบ',
 'นาย',
 'นาย ',
 'นาย  ',
 'นาว',
 'นาวสาว',
 'นา่ง',
 'น่าย',
 'พจอ.',
 'พระ',
 'พระครุ',
 'พระปลัด',
 'พลฯ',
 'ร.ต.',
 'ร.ต.ต.',
 'ร.ต.ท.',
 'ร.ต.อ.',
 'รต.',
 'ว่าที่ ร.ต.',
 'ว่าที่ ร.ท.',
 'ว่าที่ร้อยตรี',
 'ส.อ.',
 'ืนาง',
 'เด็กชาย',
 'เด็กหญิง'}

In [568]:
data1['title'].replace({'  นาง':'หญิง',' นาง':'หญิง', ' นางสาว':'หญิง', ' นาย':'ชาย','Mrs':'หญิง', 'ชาย':'ชาย', 'ด.ช.':'ชาย','ด.ญ.':'หญิง','ด.ต.':'ไม่ระบุ','น':'ไม่ระบุ','น.ส':'หญิง','น.ส ':'หญิง','น.ส.':'หญิง',
                                 'นส':'หญิง', 'นส.':'หญิง', 'นส. ':'หญิง','นาง':'หญิง','นาง ':'หญิง','นาง.':'หญิง', 'นางl':'หญิง','นางสาว':'หญิง','นางสาว ':'หญิง', 'นางสาว                   ':'หญิง','นาน':'ชาย', 'นาบ':'ชาย',
                                  'นาย':'ชาย','นาย ':'ชาย','นาย  ':'ชาย', 'นาว':'หญิง', 'นาวสาว':'หญิง','นา่ง':'หญิง', 'น่าย':'ชาย','พจอ.':'ไม่ระบุ','พระ':'ชาย', 'พระครุ':'ไม่ระบุ', 'พระปลัด':'ไม่ระบุ', 'พลฯ':'ไม่ระบุ','ร.ต.':'ไม่ระบุ', 'ร.ต.ต.':'ไม่ระบุ',
                                  'ร.ต.ท.':'ไม่ระบุ','ร.ต.อ.':'ไม่ระบุ','รต.':'ไม่ระบุ','ว่าที่ ร.ต.':'ไม่ระบุ', 'ว่าที่ ร.ท.':'ไม่ระบุ','ว่าที่ร้อยตรี':'ไม่ระบุ','ส.อ.':'ไม่ระบุ',  'ืนาง':'หญิง', 'เด็กชาย':'ชาย', 'เด็กหญิง':'หญิง'},inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6619: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [569]:
data1[['title']] =data1[['title']].fillna('ไม่ระบุ')  # เติมค่าว่างของ title ด้วย ค่าก่อนหน้า
data1  # แสดงตาราง

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
190,06223,kfpwuaqldj.png,2022-03-23,0,Xiaomi 21081111RG,13777,16:31:45,ปกติ (เหลืองใส),00000,ไม่ระบุ,NaN
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,ชาย,66
...,...,...,...,...,...,...,...,...,...,...,...
39812,99999,F45E78D3-7D89-47A3-8207-C705377E0E0A,2022-03-11,1,"iPhone14,2",99999,11:36:34,ขุ่น,99999,ไม่ระบุ,NaN
39813,99999,lnlohgqckf.png,2022-03-10,0,Samsung SM-G998B,99999,18:10:29,มีตะกอน,99999,ไม่ระบุ,NaN
39814,99999,vkdocpmjiv.png,2022-03-10,1,Samsung SM-G998B,99999,12:14:41,"ขุ่น, มีเม็ดเลือดแดง",99999,ไม่ระบุ,NaN
39815,99999,vrvyfnvayq.png,2022-03-10,1,Samsung SM-G998B,99999,13:58:01,ปกติ (เหลืองใส),99999,ไม่ระบุ,NaN
39816,99999,zuhbtvyrce.png,2022-03-10,1,Samsung SM-G998B,99999,13:57:58,ปกติ (เหลืองใส),99999,ไม่ระบุ,NaN

In [570]:
set(data1['title'])

{'ชาย', 'หญิง', 'ไม่ระบุ'}

In [571]:
data1.isnull().sum()   # ดูค่าว่าง

user              0
RowKey            0
date              0
ov                0
phone             0
site              0
time              0
urine             0
PartitionKey      0
title             0
age             505
dtype: int64

# age

## มีประโยชน์

In [572]:
print(data1.dtypes) # ค่า age   เป็นobject

user                    object
RowKey                  string
date            datetime64[ns]
ov                      object
phone                   object
site                    object
time                    object
urine                   object
PartitionKey            object
title                   object
age                     object
dtype: object

In [573]:
data1['age'] = data1['age'].astype(float).astype('Int64')       # แปลงข้อมูล จาก object เป็น int64
print(data1.dtypes)

user                    object
RowKey                  string
date            datetime64[ns]
ov                      object
phone                   object
site                    object
time                    object
urine                   object
PartitionKey            object
title                   object
age                      Int64
dtype: object

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [574]:
age_drop = data1.dropna(subset=['age'])  #dropna column age

In [575]:
data1 = age_drop[(age_drop ['age'] <=100) & (age_drop ['age'] >=1)]  #เลือกข้อมูลอายุที่มากกว่า1 ปี น้อยกว่า100 ปี 
data1  # แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age
191,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,หญิง,47
192,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,หญิง,41
193,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,หญิง,55
194,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,ชาย,66
195,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,หญิง,50
...,...,...,...,...,...,...,...,...,...,...,...
39416,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),11003,หญิง,33
39417,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,ชาย,28
39418,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,หญิง,72
39419,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,หญิง,48
39420,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,ชาย,36

In [576]:
data1.isnull().sum()   # ดูค่าว่าง

user            0
RowKey          0
date            0
ov              0
phone           0
site            0
time            0
urine           0
PartitionKey    0
title           0
age             0
dtype: int64

## Data 2 hospital_list

In [577]:
data2= pd.read_excel('/content/drive/MyDrive/Final Exam/hospital_list.xlsx')  # สร้างตัวแปร รับค่าข้อมูลที่อยู่ใน Google drive
data2 # แสดงข้อมูล

,hcode,name,zone_code,zone_name,provincecode,province,amphurcode,amphur,tamboncode,tambon,code4,name5,code9,name10,short_thai,short_english
0,00001,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,6,สาขาพื้นที่(ระยอง),11.0,สมุทรปราการ,1.0,เมืองสมุทรปราการ,1.0,ปากน้ำ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,สป,SPK
1,00002,สำนักงานสาธารณสุขจังหวัดนนทบุรี,4,สาขาพื้นที่(สระบุรี),12.0,นนทบุรี,1.0,เมืองนนทบุรี,4.0,บางกระสอ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,นบ,NBI
2,00003,สำนักงานสาธารณสุขจังหวัดปทุมธานี,4,สาขาพื้นที่(สระบุรี),13.0,ปทุมธานี,1.0,เมืองปทุมธานี,1.0,บางปรอก,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,ปท,PTE
3,00004,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,4,สาขาพื้นที่(สระบุรี),14.0,พระนครศรีอยุธยา,1.0,พระนครศรีอยุธยา,3.0,หอรัตนไชย,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อย,AYA
4,00005,สำนักงานสาธารณสุขจังหวัดอ่างทอง,4,สาขาพื้นที่(สระบุรี),15.0,อ่างทอง,1.0,เมืองอ่างทอง,8.0,บ้านอิฐ,1.0,สำนักงานสาธารณสุขจังหวัด,NaN,NaN,อท,ATG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17098,99990,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,2,สาขาพื้นที่(พิษณุโลก),53.0,อุตรดิตถ์,1.0,เมืองอุตรดิตถ์,1.0,ท่าอิฐ,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,อต,UTT
17099,99991,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,5,สาขาพื้นที่(ราชบุรี),77.0,ประจวบคีรีขันธ์,2.0,กุยบุรี,1.0,กุยบุรี,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ปข,PKN
17100,99993,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,9.0,วัดเพลง,3.0,วัดเพลง,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR
17101,99996,คลินิกทันตกรรม สสจ.ศรีสะเกษ,10,สาขาพื้นที่(อุบลราชธานี),33.0,ศรีสะเกษ,1.0,เมืองศรีสะเกษ,11.0,โพนข่า,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,ศก,SSK
17102,99998,ศูนย์สุขภาพชุมชนตำบลบางแพ,5,สาขาพื้นที่(ราชบุรี),70.0,ราชบุรี,6.0,บางแพ,2.0,วังเย็น,8.0,ศูนย์สุขภาพชุมชน ของ รพ.,10.0,1 ปฐมภูมิ,รบ,RBR

In [578]:
data2 = data2[['hcode','zone_code','name','province','amphur','tambon']]   #เลือกเฉพาะคอลัมน์ที่ต้องการ
data2  # แสดงตาราง

,hcode,zone_code,name,province,amphur,tambon
0,00001,6,สำนักงานสาธารณสุขจังหวัดสมุทรปราการ,สมุทรปราการ,เมืองสมุทรปราการ,ปากน้ำ
1,00002,4,สำนักงานสาธารณสุขจังหวัดนนทบุรี,นนทบุรี,เมืองนนทบุรี,บางกระสอ
2,00003,4,สำนักงานสาธารณสุขจังหวัดปทุมธานี,ปทุมธานี,เมืองปทุมธานี,บางปรอก
3,00004,4,สำนักงานสาธารณสุขจังหวัดพระนครศรีอยุธยา,พระนครศรีอยุธยา,พระนครศรีอยุธยา,หอรัตนไชย
4,00005,4,สำนักงานสาธารณสุขจังหวัดอ่างทอง,อ่างทอง,เมืองอ่างทอง,บ้านอิฐ
...,...,...,...,...,...,...
17098,99990,2,ศูนย์สุขภาพชุมชนโรงพยาบาลอุตรดิตถ์(สาขา 2 วัดท...,อุตรดิตถ์,เมืองอุตรดิตถ์,ท่าอิฐ
17099,99991,5,ศูนย์สุขภาพชุมชนโรงพยาบาลกุยบุรี,ประจวบคีรีขันธ์,กุยบุรี,กุยบุรี
17100,99993,5,ศูนย์สุขภาพชุมชนตำบลวัดเพลง,ราชบุรี,วัดเพลง,วัดเพลง
17101,99996,10,คลินิกทันตกรรม สสจ.ศรีสะเกษ,ศรีสะเกษ,เมืองศรีสะเกษ,โพนข่า
17102,99998,5,ศูนย์สุขภาพชุมชนตำบลบางแพ,ราชบุรี,บางแพ,วังเย็น

In [579]:
data2.isnull().sum()     # ดูค่าว่าง

hcode          0
zone_code      0
name           1
province       0
amphur         2
tambon       209
dtype: int64

## name

In [580]:
data2[data2['name'].isnull()]

       hcode  zone_code name province      amphur tambon
15453  26276         11  NaN    ชุมพร  เมืองชุมพร    NaN

In [581]:
data2['name'] = data2['name'].fillna('ไม่ระบุ')   # แทนค่าว่างใน คอลัมน์ name ด้วยค่า ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

## amphur

In [582]:
data2[data2['amphur'].isnull()]

       hcode  zone_code                name       province amphur tambon
15064  25733         13  สารีคลินิกการแพทย์  กรุงเทพมหานคร    NaN    NaN
15180  25852         11    คลินิกแพทย์สุเชต         ภูเก็ต    NaN    NaN

In [583]:
data2[['amphur']] =data2[['amphur']].fillna('ไม่ระบุ')    # แทนค่าว่างใน คอลัมน์ amphur ด้วยค่า ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

## tambon

In [584]:
data2[['tambon']] = data2[['tambon']].fillna('ไม่ระบุ')   # แทนค่าว่างใน คอลัมน์ tambon ด้วยค่า ไม่ระบุ

/usr/local/lib/python3.7/dist-packages/pandas/core/frame.py:3641: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self[k1] = value[k2]

In [585]:
data2.isnull().sum()  # ดูค่าว่าง

hcode        0
zone_code    0
name         0
province     0
amphur       0
tambon       0
dtype: int64

In [586]:
data2.isnull().any()  # ดูค่า missing

hcode        False
zone_code    False
name         False
province     False
amphur       False
tambon       False
dtype: bool

# รวมตารางที่ 1 เเละ ตารางที่ 2

In [587]:
data_d1d2 = data1.merge(data2,how='left',left_on='site',right_on='hcode')  # เชื่อมตารางระหว่างตาราง data1 กับdata2 ด้วย site และ hcode
data_d1d2   # แสดงตาราง

,user,RowKey,date,ov,phone,site,time,urine,PartitionKey,title,age,hcode,zone_code,name,province,amphur,tambon
0,12015,00859DB9-1BD9-4825-B246-3DC25EFD1924,2022-03-30,4,"iPhone12,3",06307,14:46:08,ปกติ (เหลืองใส),00001,หญิง,47,06307,2,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,อุตรดิตถ์,พิชัย,บ้านดารา
1,91811,1376ACA2-AFA5-4457-967A-D2FCF908E6A5,2022-03-30,4,"iPhone14,3",05328,15:27:45,ปกติ (เหลืองใส),00001,หญิง,41,05328,7,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,กาฬสินธุ์,ฆ้องชัย,โคกสะอาด
2,95821,1914EE67-CD8F-47EE-A968-2772911AA5DF,2022-03-30,3,"iPhone13,4",06302,10:16:46,ปกติ (เหลืองใส),00001,หญิง,55,06302,2,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,อุตรดิตถ์,ฟากท่า,สองห้อง
3,13361,1A219EE7-3647-4D7D-A8C0-AE638E69D889,2022-03-29,3,"iPhone9,4",05059,12:26:38,ปกติ (เหลืองใส),00001,ชาย,66,05059,7,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,มหาสารคาม,นาดูน,หัวดง
4,28241,1AFBC992-AF2F-4F97-AE6D-443F30ED8402,2022-03-31,0,"iPhone13,3",06334,14:57:41,ปกติ (เหลืองใส),00001,หญิง,50,06334,2,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,อุตรดิตถ์,ทองแสนขัน,น้ำพี้
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
37831,26462,ieotqfnqcq.png,2022-03-22,1,Vivo 1920,11069,14:03:12,ปกติ (เหลืองใส),11003,หญิง,33,11069,7,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง
37832,26462,cywpeqziic.png,2022-03-21,2,Vivo 1920,11069,13:59:04,ปกติ (เหลืองใส),11005,ชาย,28,11069,7,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง
37833,26462,65DE7A37-62D2-4B7F-A494-89A89D5594A7,2022-03-22,2,"iPhone13,4",11069,13:41:47,ปกติ (เหลืองใส),11006,หญิง,72,11069,7,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง
37834,26462,85F0F443-D3B6-40DD-BD69-81C8D696E0DC,2022-03-21,0,"iPhone13,4",11069,14:17:46,ปกติ (เหลืองใส),11007,หญิง,48,11069,7,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง
37835,26462,vdxxgljykj.png,2022-03-21,1,Vivo V2050,11069,10:54:49,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า",11008,ชาย,36,11069,7,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,เสลภูมิ,ขวัญเมือง

## เตรียมเอาข้อมูลออก

In [588]:
data_PC = data_d1d2[['user','hcode','name','province','amphur','date','time','ov','phone','urine']]  ##เลือกคอลัมน์ที่ต้องการ
data_PC  ## แสดงตาราง

,user,hcode,name,province,amphur,date,time,ov,phone,urine
0,12015,06307,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านเกาะ ตำบลบ้านดารา,อุตรดิตถ์,พิชัย,2022-03-30,14:46:08,4,"iPhone12,3",ปกติ (เหลืองใส)
1,91811,05328,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านโคกประสิทธิ์,กาฬสินธุ์,ฆ้องชัย,2022-03-30,15:27:45,4,"iPhone14,3",ปกติ (เหลืองใส)
2,95821,06302,โรงพยาบาลส่งเสริมสุขภาพตำบลสองห้อง,อุตรดิตถ์,ฟากท่า,2022-03-30,10:16:46,3,"iPhone13,4",ปกติ (เหลืองใส)
3,13361,05059,โรงพยาบาลส่งเสริมสุขภาพตำบลบ้านดอนดู่,มหาสารคาม,นาดูน,2022-03-29,12:26:38,3,"iPhone9,4",ปกติ (เหลืองใส)
4,28241,06334,โรงพยาบาลส่งเสริมสุขภาพตำบลน้ำพี้,อุตรดิตถ์,ทองแสนขัน,2022-03-31,14:57:41,0,"iPhone13,3",ปกติ (เหลืองใส)
...,...,...,...,...,...,...,...,...,...,...
37831,26462,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,เสลภูมิ,2022-03-22,14:03:12,1,Vivo 1920,ปกติ (เหลืองใส)
37832,26462,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,เสลภูมิ,2022-03-21,13:59:04,2,Vivo 1920,ปกติ (เหลืองใส)
37833,26462,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,เสลภูมิ,2022-03-22,13:41:47,2,"iPhone13,4",ปกติ (เหลืองใส)
37834,26462,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,เสลภูมิ,2022-03-21,14:17:46,0,"iPhone13,4",ปกติ (เหลืองใส)
37835,26462,11069,โรงพยาบาลเสลภูมิ,ร้อยเอ็ด,เสลภูมิ,2022-03-21,10:54:49,1,Vivo V2050,"ปกติ (เหลืองใส), ใส่เป็นน้ำเปล่า"

In [595]:
data_PC.shape  ## ดูขนาดของตาราง

(37836, 10)

In [594]:
data_finalexam = data_PC.dropna() # ทำการกำจัด missing
data_finalexam.shape # ตรวจสอบขนาดของตาราง

(37836, 10)

In [593]:
data_PC.isnull().any()

user        False
hcode       False
name        False
province    False
amphur      False
date        False
time        False
ov          False
phone       False
urine       False
dtype: bool

In [597]:
data_finalexam.to_csv('Data_finalexam.csv',encoding='utf-8') ## Export ไฟล์